<p>Log into Work Scheduling:</p>
<div>
    <label for="username-input">Username:</label>
    <input type='text' placeholder='Username' [(ngModel)]='username' name='username' (keydown.enter)='login()' #usernameInput autofocus/>
</div>
<div>
    <label for="password-input">Password:</label>
    <input type='password' placeholder='Password' [(ngModel)]='password' name='password' (keydown.enter)='login()'/>
</div>
<div>
    <button (click)='login()'>Log In</button>
</div>
<div class='invalid-login-prompt' *ngIf='showInvalidLoginPrompt'>
    <p>Could not log in; invalid username and/or password.</p>
</div>