<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<h1 id = "dash">DashBoard</h1>

<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="app-view-schedule" aria-current="page" >View Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Set Avaiability</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Request time off</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" tabindex="-1" aria-disabled="true">Request Paid Time Off</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="app-loginscreen" tabindex="-1" aria-disabled="true">Log Out</a>
    </li>
    <p *ngif role.isManager = true>
    <li class="nav-item">
      <a class="nav-link" routerLink="" tabindex="-1" aria-disabled="true">Approve Time Off</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="" tabindex="-1" aria-disabled="true">Create Schedule</a>
    </li>
    </p>


  </ul>
   

