<h1>Work Scheduling</h1>
<app-logout *ngIf = "currentScreen != 'app-loginscreen'"></app-logout>
<p *ngIf = "isUserManager()">You are logged in as a manager.</p>
<app-loginscreen *ngIf = "currentScreen=='app-loginscreen'"></app-loginscreen>
<app-dash-board-screen *ngIf = "currentScreen=='app-dash-board-screen'"></app-dash-board-screen>
<app-view-schedule *ngIf = "currentScreen=='app-view-schedule'"></app-view-schedule>
<app-set-availability *ngIf = "currentScreen=='app-set-availability'"></app-set-availability>
